
  <ion-navbar>
    <ion-title>Ponentes</ion-title>
  </ion-navbar>


<ion-header>
  <ion-navbar>
    <h2 ion-text color="primary" text-center>Gestionar Ponenetes</h2>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="isAuthenticated()">
  <div offset-md-2 col-md-8 padding text-center>
    <div text-right>
      <button ion-button clear *ngIf="!showAddSpeaker" (click)="showAddSpeakerForm(true)">Adicionar Ponente</button>
      <button ion-button clear *ngIf="showAddSpeaker" (click)="showAddSpeakerForm(false)">Ocultar Adicionar</button>
    </div>
    <div *ngIf="showAddSpeaker">
      <ion-item *ngIf="submitAttempt">
        <p *ngIf="!speakerForm.valid" text-center>Favor Completar Formulario.</p>
      </ion-item>
      <ion-list>
        <form [formGroup]="speakerForm">
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>URL foto:</ion-label>
            <ion-input formControlName="profilePic" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Título:</ion-label>
            <ion-input formControlName="degree" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Scholar:</ion-label>
            <ion-input formControlName="googleScholar" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Linkedin:</ion-label>
            <ion-input formControlName="linkedin" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Twitter:</ion-label>
            <ion-input formControlName="twitter" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Correo:</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Bibliografía Corta:</ion-label>
            <ion-textarea style="resize: none;" rows="3" formControlName="shortAbout" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label style="resize: none" stacked>Bibliografía</ion-label>
            <ion-textarea rows="5" formControlName="about" type="text"></ion-textarea>
          </ion-item>
          <!--      <ion-item>
          <ion-label>Privacy</ion-label>
          <ion-select formControlName="privacy">
            <ion-option value="public" checked="true">Public</ion-option>
            <ion-option value="friends">Friends Only</ion-option>
            <ion-option value="private">Private</ion-option>
          </ion-select>
        </ion-item>-->
          <br>
          <button *ngIf="!showupdateSpeaker" type="button" ion-button color="primary" (click)="addSpeaker()">Adicionar</button>
          <button *ngIf="showupdateSpeaker" type="button" ion-button color="primary" (click)="updateSpeaker()">Actualizar</button>
        </form>
        <br>
      </ion-list>
    </div>
    <ion-list>
      <ion-list-header no-lines>
        <h2> Listado de Ponentes</h2>
      </ion-list-header>
      <ion-item *ngFor="let speak of speakers | async">
        <ion-avatar [hidden]='smallDevice' item-start>
          <img src={{speak.profilePic}}>
        </ion-avatar>
        <!--<span class=".visible-md-*" [hidden]="isSM ? true : false"> {{ speak.degree }}</span> {{ speak.name }}-->
        <h2>{{ speak.name }}</h2>
        <p> {{ speak.degree }}</p>
        <button type="button" title="Editar" (click)="loadSpeakerToEdit(speak)" item-end ion-button clear icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
        <button type="button" title="Eliminar" item-end (click)="removeSpeaker(speak.$key)" item-end ion-button clear icon-only>
        <ion-icon title="Eliminar" item-end name="trash"></ion-icon>
      </button>
      </ion-item>
      <!--<ion-item *ngFor="let speak of speakers | async">
      <ion-row>
        <ion-col col-10>
          <ion-avatar item-start>
            <img src={{speak.profilePic}}>
          </ion-avatar>
          <span class=".visible-md-*" [hidden]="isSM ? true : false"> {{ speak.degree }}</span> {{ speak.name }}
          <p>{{ speak.name }}</p>
        </ion-col>
        <ion-col col-1 text-center>
          <a (click)="editSpeaker(speak.$key)" title="Editar">
            <ion-icon name="create"></ion-icon>
          </a>
        </ion-col>
        <ion-col col-1 text-center>
          <a (click)="removeSpeaker(speak.$key)">
            <ion-icon title="Eliminar" name="trash"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-item>-->
    </ion-list>
  </div>
</ion-content>

