
  <ion-navbar>
    <ion-title>speaker</ion-title>
  </ion-navbar>
<ion-content>
  <h2 ion-text color="secondary" text-center text-center>Ponentes</h2>
  <ion-toolbar>
      <ion-segment [(ngModel)]="congreso"  [formControl]="congresoControl" (ionChange)="onSearchInput()" color="secondary">
        <ion-segment-button value="INER">
          <span item-end>INER</span>
        </ion-segment-button>
        <ion-segment-button value="">
          Todos
        </ion-segment-button>
        <ion-segment-button value="IEEE">
          IEEE
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  <div offset-md-2 col-md-8 padding>
    <p *ngFor="let item of speaker | async as list">
      {{ item.name }} {{ item.shortAbout }}
    </p>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <ion-card *ngFor="let speaker of speakers | async">
      <ion-item text-center text-wrap>
        <ion-card-header>
          <ion-avatar>
            <img [src]="speaker.profilePic">
          </ion-avatar>
          <h2><a (click)='goToSpeakerDetail(speaker.$key)'>{{ speaker.name }}</a></h2>
          <p>{{ speaker.degree }}</p>
        </ion-card-header>
        <ion-card-content>
          <p>{{ speaker.shortAbout }}.</p>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

