<ion-navbar>
  <ion-title>Gestionar Temas</ion-title>
</ion-navbar>

<ion-content *ngIf="isAuthenticated()">
  <div offset-md-2 col-md-8 padding text-center>
    <div text-right>
      <button ion-button clear *ngIf="!showAddTopic" (click)="showAddTopicForm(true)">Adicionar Tema</button>
      <button ion-button clear *ngIf="showAddTopic" (click)="showAddTopicForm(false)">Ocultar Adicionar</button>
    </div>
    <div *ngIf="showAddTopic">
      <ion-item *ngIf="submitAttempt">
        <p *ngIf="!topicForm.valid" text-center>Favor Completar Formulario.</p>
      </ion-item>
      <ion-list>
        <form [formGroup]="topicForm">
          <ion-item>
            <ion-label>Tema:</ion-label>
            <ion-input formControlName="topic" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>URL foto:</ion-label>
            <ion-input formControlName="profilePic" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Descripción:</ion-label>
            <ion-input formControlName="description" type="text"></ion-input>
          </ion-item>
          <br>
          <button *ngIf="!showupdateTopic" type="button" ion-button color="primary" (click)="addTopic()">Adicionar</button>
          <button *ngIf="showupdateTopic" type="button" ion-button color="primary" (click)="updateTopic()">Actualizar</button>
        </form>
        <br>
      </ion-list>
    </div>
    <ion-list>
      <ion-list-header no-lines>
        <h2> Listado de Lugares</h2>
      </ion-list-header>
      <ion-item *ngFor="let topic of topics | async">
        <ion-avatar [hidden]='smallDevice' item-start>
          <img src={{topic.profilePic}}>
        </ion-avatar>
        <p> {{ topic.topic }}</p>
        <button type="button" title="Editar" (click)="loadTopicToEdit(topic)" item-end ion-button clear icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
        <button type="button" title="Eliminar" item-end (click)="removeTopic(topic.$key)" item-end ion-button clear icon-only>
        <ion-icon title="Eliminar" item-end name="trash"></ion-icon>
      </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
