
  <ion-navbar>
    <ion-title>Manage-conference</ion-title>
  </ion-navbar>


<ion-header>
  <ion-navbar>
    <h2 ion-text color="primary" text-center>Gestionar Conferencias</h2>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="isAuthenticated()">
  <div offset-md-2 col-md-8 padding text-center>
    <div text-right>
      <button ion-button clear *ngIf="!showAddConference" (click)="showAddConferenceForm(true)">Adicionar Conferencia</button>
      <button ion-button clear *ngIf="showAddConference" (click)="showAddConferenceForm(false)">Ocultar Adicionar</button>
    </div>

    <div *ngIf="showAddConference">
      <ion-item *ngIf="submitAttempt">
        <p *ngIf="!conferenceForm.valid" text-center>Favor Completar Formulario.</p>
      </ion-item>
      <ion-list>
        <form [formGroup]="conferenceForm">
          <ion-item>
            <ion-label>Título:</ion-label>
            <ion-input formControlName="title" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="date" dayValues="20,21,22"
              monthValues="09" yearValues="2017">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Hora Inicio</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="timeStart" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19"
              minuteValues="00,15,30,45"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Hora Fin</ion-label>
            <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" formControlName="timeEnd" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19"
              minuteValues="00,15,30,45"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>URL foto:</ion-label>
            <ion-input formControlName="profilePic" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Descripción Corta:</ion-label>
            <ion-textarea style="resize: none;" rows="3" formControlName="shortDescription" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Descripción</ion-label>
            <ion-textarea style="resize: none" rows="5" formControlName="description" type="text"></ion-textarea>
          </ion-item>
          <ion-item>
            <div text-right>
              <button ion-button clear (click)="addSpeakerCheckbox()">Editar Ponentes</button>
            </div>
            <div *ngIf="conferenceForm.value.speakers">
              <h3>Ponentes</h3>
              <ul *ngFor="let item of conferenceForm.value.speakers">
                <li>{{item.name}}</li>
              </ul>
            </div>
          </ion-item>
          <ion-item>
            <div text-right>
              <button ion-button clear (click)="addTopicCheckbox()">Editar Temas</button>
            </div>
            <div *ngIf="conferenceForm.value.topic">
              <h3>Temas</h3>
              <ul *ngFor="let item of conferenceForm.value.topic">
                <li>{{item.topic}}</li>
              </ul>
            </div>
          </ion-item>
          <ion-item>
            <div text-right>
              <button ion-button clear (click)="addLocationCheckbox()">Editar Lugar</button>
            </div>
            <div *ngIf="conferenceForm.value.location">
              <h3>Lugar</h3>
              <ul *ngFor="let item of conferenceForm.value.location">
                <li>{{item.name}}</li>
              </ul>
            </div>
          </ion-item>

          <br>
          <button *ngIf="!showupdateConference" type="button" ion-button color="primary" (click)="addConference()">Adicionar</button>
          <button *ngIf="showupdateConference" type="button" ion-button color="primary" (click)="updateConference()">Actualizar</button>
        </form>
        <br>
      </ion-list>
    </div>
    <ion-list>
      <ion-list-header no-lines>
        <h2> Listado de Conferencias</h2>
      </ion-list-header>
      <ion-item *ngFor="let conf of conferences | async">
        <ion-avatar [hidden]='smallDevice' item-start>
          <img *ngIf="!conf.profilePic" src="./../../assets/icon/favicon.ico">
          <img *ngIf="conf.profilePic" [src]="conf.profilePic">
        </ion-avatar>
        <!--<span class=".visible-md-*" [hidden]="isSM ? true : false"> {{ speak.degree }}</span> {{ speak.name }}-->
        <h2>{{ conf.title }}</h2>
        <p> {{ conf.shortDescription }}</p>
        <button type="button" title="Editar" (click)="loadConferenceToEdit(conf)" item-end ion-button clear icon-only>
        <ion-icon name="create"></ion-icon>
      </button>
        <button type="button" title="Eliminar" item-end (click)="removeConference(conf.$key)" item-end ion-button clear icon-only>
        <ion-icon title="Eliminar" item-end name="trash"></ion-icon>
      </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

