<ion-header>
  <ion-navbar>
    <h2 ion-text color="primary" text-center>Conferencia</h2>
  </ion-navbar>
</ion-header>
<ion-content>
  <div offset-md-2 col-md-8 padding>
    <div *ngFor="let conf of confence | async as list">
      <ion-item no-lines text-center text-wrap>
        <ion-card-header>
          <ion-avatar style="width: 100; height: 100;">
            <img [src]="conf.profilePic">
          </ion-avatar>
          <h2 Text-Capitalize>{{ conf.title }}</h2>
          <p>{{ conf.date }}</p>
        </ion-card-header>
        <ion-card-content *ngIf="conf.speakers">
          <h2>Ponentes</h2>
          <a *ngFor="let speaker of conf.speakers" (click)="goToSpeakerDetail(speaker.speakerID)">
            {{ speaker.name }}
            <br>
            </a>
        </ion-card-content>
        <ion-card-content *ngIf="conf.topic">
          <h2>Tema</h2>
          <p *ngFor="let topic of conf.topic">
            {{ topic.topic }}
            </p>
        </ion-card-content>
        <ion-card-content *ngIf="conf.location">
          <h2>Ubicación</h2>
          <p *ngFor="let location of conf.location">
            {{ location.name }}
            </p>
        </ion-card-content>
        <ion-card-content>
          <p>{{ conf.shortDescription }}</p>
          <br>
          <p>{{ conf.description }}</p>

        </ion-card-content>
      </ion-item>
    </div>
  </div>

</ion-content>
