<ion-content>
  <h2 ion-text color="primary" text-center text-center>Conferencias</h2>
  <hr>

  <div offset-md-2 col-md-8 padding>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item class="text" *ngFor="let conference of conferences | async">
        <ion-avatar item-start>
          <!-- FIXME: A4 if else would be better.
          -->
          <img *ngIf="!conference.profilePic" src="./../../assets/icon/favicon.ico">
          <img *ngIf="conference.profilePic" [src]="conference.profilePic">
        </ion-avatar>
        <a (click)="goToConferenceDetail(conference.$key)">{{ conference.title }}</a>
        <p>{{ conference.shortDescription }}</p>
      </ion-item>

    </ion-list>
    <!--    <ion-item-group>
      <ion-item-divider color="light">A</ion-item-divider>
      <ion-item>Angola</ion-item>
      <ion-item>Argentina</ion-item>
    </ion-item-group>-->
  </div>
</ion-content>
