  <ion-navbar>
    <ion-title>Conferencias</ion-title>
  </ion-navbar>

<ion-content>
  <h2 ion-text color="primary" text-center text-center>Conferencias</h2>
  <hr>
  <div offset-md-2 col-md-8 padding>
    <!--<ion-item float-end col-6 col-sm-4>-->
      <ion-list no-lines float-right text-right>
    <ion-item [hidden]="!isAuthenticated()">
      <ion-label>Mi Calendario</ion-label>
      <ion-checkbox [(ngModel)]="conferencesFavorite" [formControl]="favorite" (ionChange)="onSearchInput()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <button item-end ion-button icon-left color="light" round small (click)="showHideSearch()"><ion-icon name="search"></ion-icon>Filtros</button>
    </ion-item>
    </ion-list>
    <ion-card [hidden]="search">
      <ion-item>
        <button float-end ion-button (click)="reset()">Limpiar</button>
      </ion-item>
      <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
      <ion-item>
        <ion-label>Dia</ion-label>
        <ion-select multiple="true" [(ngModel)]="filterDay" [formControl]="dayControl" (ionChange)="onSearchInput()">
          <ion-option selected="true" value="20">20</ion-option>
          <ion-option selected="true" value="21">21</ion-option>
          <ion-option selected="true" value="22">22</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Temas</ion-label>
        <ion-select multiple="true" [(ngModel)]="filterTopic" [formControl]="dayControl" (ionChange)="onSearchInput()">
          <ion-option *ngFor="let topic of topics | async" [value]="topic.$key" [selected]="true">{{topic.topic}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-item *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-list *ngIf="conferences | async; let conferencesD">
      <span #item *ngFor='let conference of (conferences | async); let i = index'>
        <ion-list-header text-color="primary" no-lines *ngIf="i == 0 || conference.day !== conferencesD[i - 1].day">
          Día {{ conference.day }}
        </ion-list-header>
        <ion-item-sliding #slidingItem>
          <ion-item text-wrap>
            <ion-avatar item-start>
              <img *ngIf="!conference.profilePic" src="./../../assets/icon/favicon.ico">
              <img *ngIf="conference.profilePic" [src]="conference.profilePic">
            </ion-avatar>
            <button *ngIf="isFavorite(conference.$key)" data-toggle="Eliminar de Favoritas" (click)="removeFavorite(conference.$key)" item-end ion-button clear icon-only>
              <ion-icon name="star"></ion-icon>
            </button>
            <a (click)="goToConferenceDetail(conference.$key)">{{ conference.title }}</a>
            <p>Hora: {{conference.timeStart }} - {{ conference.timeEnd }}</p>
            <div *ngIf="conference.topic.length" >
              <h3>Tema</h3>
              <p *ngFor="let topic of conference.topic">
                {{ topic.topic }}
              </p>
            </div>
            <div *ngIf="conference.location.length" >
              <h3 class="h3">Ubicación: </h3>
              <p *ngFor="let location of conference.location">
                  {{ location.name }}
              </p>
            </div>
  <p>{{ conference.shortDescription }}</p>
  </ion-item>
  <ion-item-options side="right">
    <button (click)="addFavorite(conference.$key, slidingItem)" item-end ion-button clear>
      <ion-icon name="star"></ion-icon>
      Asistiré
    </button>
    <button  (click)="rateConference($event,conference.$key, slidingItem)" item-end ion-button clear>
      <ion-icon name="thumbs-up"></ion-icon>
      Valorar
    </button>
  </ion-item-options>
  </ion-item-sliding>
  </span>
    </ion-list>
  </div>
</ion-content>
