<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <ion-menu [content]="mycontent" persistent=true ide="right">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item (click)="openPage(homePage)">
        Home
      </button>
        <button ion-item (click)="openPage(friendsPage)">
        Friends
      </button>
        <button ion-item (click)="openPage(eventsPage)">
        Events
      </button>
        <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="ManageSpeakerPage"></ion-nav>

  <!-- <button ion-button menuToggle>Toggle Menu</button> -->
  <ion-navbar>
    <div *ngIf="isAdmin">
      <ion-title>
        INER Ecuador
      </ion-title>
      <button ion-button clear icon-left (click)="goToManageSpeaker()">
          <ion-icon name="people"> </ion-icon>
          Ponentes
        </button>
      <button ion-button clear icon-left (click)="goToManageConference()">
          <ion-icon name="chatboxes"> </ion-icon>
          Conferencias
        </button>
      <button ion-button clear icon-left (click)="goToManageLocation()">
          <ion-icon name="locate"> </ion-icon>
          Lugar
        </button>
      <button ion-button clear icon-left (click)="goToManageTopic()">
          <ion-icon name="school"> </ion-icon>
          Temas
        </button>
    </div>
  </ion-navbar>

  <div offset-md-2 col-md-8 padding>
    <div *ngIf="displayName == 'Visitante'; then userLogin else userPicture"></div>
    <ng-template #userPicture>
      <ion-fab top right>
        <button title={{displayName}} ion-fab color="light">
        <!--<button ion-fab mini style="background-color: transparent">-->
          <ion-avatar>
            <img style="border-radius: 50%;" [src]="picture">
          </ion-avatar>
        </button>
        <ion-fab-list>
          <button (click)="signOut()" title="Salir" ion-fab><ion-icon name="log-out"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ng-template>
    <ng-template #userLogin>
      <ion-fab top right>
        <button title="Iniciar Sesión" ion-fab color="light"><ion-icon name="person"></ion-icon></button>
        <ion-fab-list>
          <button (click)="signInWithGoogle()" title="Iniciar con Google" ion-fab><ion-icon name="logo-google"></ion-icon></button>
          <button (click)="signInWithFacebook()" title="Iniciar con Facebook" ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button (click)="signInWithTwitter()" title="Iniciar con Twitter" ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ng-template>
    <!--  <h2 ion-text color="primary">Bienvenidos</h2>
  <hr>-->
    <img src="./../../assets/img/idi_.png">
    <p> Congreso Investigación Desarrollo e Innovación en Sostenibilidad Energética 2017</p>

    <ion-card>
      <ion-card-header>
        Congreso INER 2017
      </ion-card-header>
      <ion-card-content>
        <p>
          Es el tercer evento internacional organizado por el INER que se realizará bajo el marco del Innovative Smart Grid Technologies
          (ISGTLA) desarrollado por el Institute of Electrical and Electronics Engineers (IEEE) Power and Energy Society
          (PES) capítulo Ecuador.
        </p>
        <p>
          El encuentro se llevará a cabo el 20, 21 y 22 de septiembre de 2017 en el JW Marriott Hotel de la ciudad de Quito.
        </p>
        <p>
          Esperamos que al evento se den cita instituciones y personas comprometidas con el desarrollo de la investigación científica
          y el avance tecnológico, que promuevan el uso racional de la energía y el desarrollo de nuevas fuentes limpias
          y renovables.
        </p>
        <p>
          En este contexto, damos la bienvenida a todos los interesados a participar de esta iniciativa única en el Ecuador. Esperamos
          que sea una experiencia beneficiosa para quienes asistan.
        </p>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-item float-end item-end no-lines>
        <!--Timeline Button -->
        <a float-end href="https://twitter.com/intent/tweet?button_hashtag=INER_EC" class="twitter-hashtag-button" data-show-count="false">Tweet #INER_EC</a>
      </ion-item>
      <ion-row>
        <ion-col col-md-6>
          <!--Ultimos Twit from INER_EC -->
          <a class="twitter-timeline" height="600px" tweet-limit="10" href="https://twitter.com/INER_EC">Tweets by INER_EC</a>
        </ion-col>
        <ion-col col-md-6 style="max-height: 600px">
          <!--Ultimos Twit from hasgtag inercongres FIXME: data-tweet-limit=5 en twitter arreglar el contenido cuando me digan el hash del congreso-->
          <a class="twitter-timeline" data-height="600px" href="https://twitter.com/hashtag/angular4" data-widget-id="887705957941354496">#Iner_EC Tweets</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
